---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 26a9d905555b84e74744ec75aabf31de
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,groups:read,im:read,mpim:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-a5rt,haproxy-edge-pdx-5d11
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01C099NZ9B","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1602026270,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C3J008KV","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C099NKQV"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01C3J008KV","last_set":1602026270},"previous_names":[],"num_members":2},{"id":"C01C9GQEAUU","name":"project","is_channel":true,"is_group":false,"is_im":false,"created":1602026376,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"project","is_shared":false,"parent_conversation":null,"creator":"U01C3J008KV","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C099NKQV"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=hdbsgf46876534
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 32a6b2b28f5a007c1e17ff51e552f23c
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-d35h,haproxy-edge-pdx-raf5
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Thu, 08 Oct 2020 18:00:57 GMT
recorded_with: VCR 6.0.0
