---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - c8489d248a3e0c7bcdb5dda4cb8f756c
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,groups:read,im:read,mpim:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-kg4q,haproxy-edge-pdx-dhzt
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T01C099NKQV","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T01C099NKQV"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U01C3CFAMPC","team_id":"T01C099NKQV","name":"earth_lina_api_projec","deleted":false,"color":"e7392d","real_name":"Earth
        - Lina - API Project","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight
        Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Earth
        - Lina - API Project","real_name_normalized":"Earth - Lina - API Project","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gb6df7c42d8a","api_app_id":"A01CT7LA01E","always_active":false,"bot_id":"B01CT7U95UG","image_24":"https:\/\/secure.gravatar.com\/avatar\/b6df7c42d8a304820ae95749339719b6.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0021-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/b6df7c42d8a304820ae95749339719b6.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0021-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/b6df7c42d8a304820ae95749339719b6.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatar[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 351ab97d2fda6b18c9314ee048380b62
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,groups:read,im:read,mpim:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-n0tv,haproxy-edge-pdx-r6b3
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01C099NZ9B","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1602026270,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C3J008KV","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C099NKQV"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01C3J008KV","last_set":1602026270},"previous_names":[],"num_members":2},{"id":"C01C9GQEAUU","name":"project","is_channel":true,"is_group":false,"is_im":false,"created":1602026376,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"project","is_shared":false,"parent_conversation":null,"creator":"U01C3J008KV","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01C099NKQV"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator[...]
